body {
  font-family: Roboto, sans-serif;
  color: #434455;
  background-color: #fff;
}

a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
button {
  padding: 0;
  font-family: inherit;
  color: currentColor;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.container {
  min-width: 320px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}
.header-container {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.header-logo {
  display: inline-flex;
  align-items: center;
  color: #4d5ae5;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding: 16px 0;
}
@media only screen and (min-width: 768px) {
  .header-logo {
    margin-right: 120px;
  }
}
@media only screen and (min-width: 1158px) {
  .header-logo {
    margin-right: 76px;
  }
}
.logo-dark {
  color: #2e2f42;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.7;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.header-list {
  display: flex;
  align-items: center;
  gap: 40px;
}
@media only screen and (max-width: 767.98px) {
  .header-list {
    display: none;
  }
}

.header-link {
  position: relative;
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-link:focus,
.header-link:hover {
  color: #404bbf;
}
.active {
  color: #404bbf;
}
.header-link.active::after {
  position: absolute;
  bottom: -1px;
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background: var(--OCEAN, #404bbf);
}
.address-list {
  display: block;
  align-items: center;
  font-style: normal;
}
@media only screen and (min-width: 1158px) {
  .address-list {
    display: flex;
    align-items: center;
    gap: 40px;
  }
}

.address {
}
.address-link {
  color: #434455;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: 0.04em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 12px;
}
@media only screen and (min-width: 1158px) {
  .address-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}

.address-link:focus,
.address-link:hover {
  color: #404bbf;
}

@media only screen and (max-width: 767.98px) {
  .address {
    display: none;
  }
}

.main-hero {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 72px 0;
  background-color: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/Dark-bgmob1x.jpg);
  margin: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (min-resolution: 192dpi) {
  .main-hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/Dark-bgmob@2x.jpg);
  }
}
@media only screen and (min-width: 768px) {
  .main-hero {
    padding: 112px 0;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/Dark-bgtab1x.jpg);
  }
}
@media (min-resolution: 192dpi) {
  .main-hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/Dark-bgtab@2x.jpg);
  }
}
@media only screen and (min-width: 1158px) {
  .main-hero {
    padding: 188px 0;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero.jpg);
  }
}
@media (min-resolution: 192dpi) {
  .main-hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office\ 1pc2x.jpg);
  }
}
.hero-container {
}
.main-title {
  color: #fff;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  max-width: 288px;
  margin: 0 auto;
  margin-bottom: 72px;
}
@media only screen and (min-width: 768px) {
  .main-title {
    font-size: 56px;
    line-height: 1.07;
    margin-bottom: 36px;
    max-width: 496px;
    margin-bottom: 0;
  }
}
@media only screen and (min-width: 1158px) {
  .main-title {
    margin-bottom: 48px;
  }
}

.hero-button {
  color: #fff;
  background-color: #4d5ae5;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  padding: 16px 32px;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  margin: 0 auto;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-button:focus,
.hero-button:hover {
  background-color: #404bbf;
}
.main-values {
  padding: 96px 0px;
}

@media only screen and (min-width: 1158px) {
  .main-values {
    padding: 120px 0px;
  }
}

.values-second-title {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.main-description {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-weight: 500;
}
@media only screen and (min-width: 1158px) {
  .main-description {
    font-weight: 400;
  }
}
.values-list {
  background-color: #ffffff;
}
@media only screen and (min-width: 768px) {
  .values-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px 24px;
  }
}
@media only screen and (min-width: 1158px) {
  .values-list {
  }
}
.values-items {
  width: 288px;
  margin-bottom: 72px;
  margin: 0 auto;
  margin-bottom: 72px;
}
@media only screen and (min-width: 768px) {
  .values-items {
    width: 356px;
    margin-bottom: 0;
  }
}
@media only screen and (min-width: 1158px) {
  .values-items {
    width: 264px;
  }
}
@media only screen and (min-width: 320px) {
  .values-icon-container {
    display: none;
  }
}
@media only screen and (min-width: 1158px) {
  .values-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 264px;
    height: 112px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid var(--LIGHT-SLATE, #8e8f99);
    background: var(--CLOUD, #f4f4fd);
    margin-bottom: 8px;
  }
}
.values-icon {
}

.values-third-title {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  align-self: stretch;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .values-third-title {
    text-align: start;
  }
}
@media only screen and (min-width: 1158px) {
  .values-third-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
  }
}
.portfolio-third-title {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.main-team {
  background-color: #f4f4fd;
  padding: 96px 0;
}
@media only screen and (min-width: 768px) {
  .main-team {
  }
}
@media only screen and (min-width: 768px) {
  .main-team {
    padding: 120px 0px;
  }
}
.team-text {
  text-align: center;
}
.team-socials {
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
  margin-top: 8px;
}
.team-socials-item {
  width: 40px;
  height: 40px;
}
.team-socials-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  color: #f4f4fd;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-socials-icon {
  fill: currentColor;
}
.team-socials-link:hover,
.team-socials-link:focus {
  background-color: #404bbf;
}

.main-list {
  display: flex;
  justify-content: center;
  gap: 72px 0;
}
@media only screen and (max-width: 767.98px) {
  .main-list {
    align-items: center;
    flex-direction: column;
  }
}

@media only screen and (min-width: 768px) {
  .main-list {
    gap: 64px 24px;
    margin: 0 92px;
    flex-wrap: wrap;
  }
}
@media only screen and (min-width: 1158px) {
  .main-list {
    gap: 24px;
    margin: 0;
  }
}
.main-card {
  padding: 32px 0;
}
.main-items {
  border-radius: 0px 0px 4px 4px;
  background: var(--WHITE, #fff);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  width: 264px;
}

@media only screen and (min-width: 768px) {
  .main-items {
    width: calc((100% - 24px * 1) / 2);
  }
}
@media only screen and (min-width: 1158px) {
  .main-items {
    width: calc((100% - 24px * 3) / 4);
  }
}

.main-portfolio {
  padding: 96px 0px;
}
@media only screen and (min-width: 1158px) {
  .main-portfolio {
    padding: 120px 0px;
  }
}
.team-second-title {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.portfolio-second-title {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px;
}
@media only screen and (max-width: 767.98px) {
  .portfolio-list {
    align-items: center;
    flex-direction: column;
  }
}
@media only screen and (min-width: 768px) {
  .portfolio-list {
    gap: 72px 24px;
  }
}
@media only screen and (min-width: 1158px) {
  .portfolio-list {
    gap: 48px 24px;
  }
}
.portfolio-items {
  width: 288px;
  background: var(--WHITE, #fff);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: 0 auto;
}
@media only screen and (min-width: 768px) {
  .portfolio-items {
    width: 356px;
    margin: 0;
    width: calc((100% - 24px * 1) / 2);
  }
}
@media only screen and (min-width: 1158px) {
  .portfolio-items {
    width: 360px;
    width: calc((100% - 24px * 2) / 3);
  }
}
.portfolio-items:hover {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.team-third-title {
  color: #2e2f42;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}

.main-link {
  background-color: #ffffff;
}
.description-portfolio {
  max-width: 360px;
  padding: 32px 16px;
  background-origin: 1px solid #e7e9fc;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.portfolio-third-title {
  margin-bottom: 8px;
}
.portfolio-wrapper {
  position: relative;
  overflow: hidden;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding-top: 40px;
  padding-right: 32px;
  padding-bottom: 40px;
  padding-left: 32px;
  width: 100%;
  height: 100%;
  background: #4d5ae5;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-items:hover .overlay {
  transform: translateY(0);
}
.portfolio-text {
}
.footer {
  background-color: #2e2f42;
  min-width: 320px;
  margin: auto;
}
@media only screen and (min-width: 768px) {
  .footer {
    min-width: 768px;
  }
}

.footer-container {
  align-items: baseline;
  padding: 96px 0;
}
@media only screen and (min-width: 768px) {
  .footer-container {
    display: flex;
    flex-wrap: wrap;
    gap: 72px 24px;
  }
}
@media only screen and (min-width: 1158px) {
  .footer-container {
    padding: 100px 16px;
    gap: 0;
  }
}
.footer-logo-container {
  display: flex;
  flex-direction: column;
  width: 288px;
  padding-bottom: 72px;
}
@media only screen and (max-width: 767.98px) {
  .footer-logo-container {
    margin: 0 auto;
  }
}
@media only screen and (min-width: 768px) {
  .footer-logo-container {
    width: 264px;
    padding-bottom: 0;
    margin-left: 108px;
  }
}
@media only screen and (min-width: 1158px) {
  .footer-logo-container {
    margin-left: 0;
    margin-right: 120px;
  }
}
.footer-logo {
  display: inline-block;
  color: #4d5ae5;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  margin-bottom: 16px;
}
@media only screen and (max-width: 767.98px) {
  .footer-logo {
    margin: 0 auto;
    margin-bottom: 16px;
  }
}
.white-logo {
  color: #f4f4fd;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.footer-description {
  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  width: 264px;
}
.footer-socials-container {
  display: flex;
  flex-direction: column;
}
@media only screen and (max-width: 767.98px) {
  .footer-socials-container {
    padding-bottom: 72px;
  }
}
@media only screen and (min-width: 1158px) {
  .footer-socials-container {
    margin-right: 80px;
  }
}
.footer-socials {
  display: flex;
  gap: 16px;
  margin: 0 auto;
}
.footer-socials-description {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}
@media only screen and (max-width: 767.98px) {
  .footer-socials-description {
    margin: 0 auto;
    margin-bottom: 16px;
  }
}
.footer-socials-item {
  width: 40px;
  height: 40px;
}
.footer-socials-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  color: #f4f4fd;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-socials-icon {
  fill: currentColor;
}
.footer-socials-link:hover,
.footer-socials-link:focus {
  background-color: #31d0aa;
}
.footer-socials-container {
}

.footer-modal {
  display: flex;
  flex-direction: column;
}
@media only screen and (max-width: 767.98px) {
  .footer-modal {
    padding: 0 16px;
  }
}
@media only screen and (min-width: 768px) {
  .footer-modal {
    padding-left: 108px;
  }
}
@media only screen and (min-width: 1158px) {
  .footer-modal {
    padding-left: 0;
  }
}
.footer-modal-descriprion {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}
@media only screen and (max-width: 767.98px) {
  .footer-modal-descriprion {
    margin: 0 auto;
    margin-bottom: 16px;
  }
}
.subscribe-form {
  display: flex;
  gap: 24px;
  align-items: center;
}
@media only screen and (max-width: 767.98px) {
  .subscribe-form {
    flex-direction: column;
  }
}
.subscribe-form-field {
  margin: 0 auto;
}
.subscribe-form-input {
  width: 288px;
  height: 40px;
  outline: transparent;
  flex-shrink: 0;
  color: var(--WHITE, #fff);
  font-family: Roboto;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding: 8px 16px;
  border-radius: 4px;
  border: 1px solid var(--WHITE, #fff);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  background-color: transparent;
}
.subscribe-form-input::placeholder {
  color: #fff;
}
@media only screen and (max-width: 1157.98px) {
  .subscribe-form-input {
    opacity: 0.6;
  }
}
@media only screen and (min-width: 768px) {
  .subscribe-form-input {
    width: 264px;
  }
}
@media only screen and (min-width: 1158px) {
  .subscribe-form-input {
    width: 264px;
  }
}
.subscribe-form-button {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 8px 24px;
  border-radius: 4px;
  background: #4d5ae5;
  color: #fff;
  text-align: center;
  font-family: Roboto, sans-serif;
  min-width: 165px;
  justify-content: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscribe-form-button:focus,
.subscribe-form-button:hover {
  background-color: #404bbf;
}
.subscribe-form-icon {
  fill: currentColor;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 288px;
  min-height: 623px;
  flex-shrink: 0;
  padding: 72px 16px 24px 16px;
  border-radius: 4px;
  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media only screen and (min-width: 768px) {
  .modal {
    width: 408px;
    min-height: 584px;
    padding: 72px 24px 24px 24px;
  }
}
.modal-botton {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-left: auto;
  color: #2e2f42;
  background-color: #e7e9fc;
  stroke-width: 1px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-botton:focus,
.modal-botton:hover {
  background-color: #404bbf;
  color: #ffffff;
  border: none;
}
.modal-botton-icon {
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-description {
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}
.form-wrapper {
  margin-bottom: 8px;
}

.form-label {
  display: block;
  margin-bottom: 4px;
  color: #8e8f99;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}
.form-field {
  position: relative;
}
.form-input {
  width: 100%;
  height: 40px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.4));
  padding-left: 38px;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input:focus {
  border-color: #4d5ae5;
}
.form-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  fill: transparent;
  color: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus + .form-icon {
  fill: #4d5ae5;
}
.form-message {
  resize: none;
  width: 100%;
  height: 120px;
  flex-shrink: 0;
  border-radius: 4px;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.4));
  background-color: transparent;
  outline: transparent;
  padding: 8px 16px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  opacity: 0.5;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-message::placeholder {
  border-color: rgba(46, 47, 66, 0.4);
}
.form-message:focus {
  border-color: #4d5ae5;
}
.form-comment {
  margin-bottom: 16px;
}
.agreement {
  margin-bottom: 24px;
}
.form-agreement {
  display: flex;
  align-items: center;
  color: #8e8f99;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  user-select: none;
  margin-top: 16px;
}

.form-agreement-checkbox {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
  stroke-width: 1px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  margin-right: 8px;
}
.checkbox:checked + .form-agreement .form-agreement-checkbox {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.checkbox:checked
  + .form-agreement
  .form-agreement-checkbox
  > .form-agreement-icon {
  opacity: 1;
}
.form-agreement-icon {
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-agreement-link {
  color: #4d5ae5;
  text-decoration-line: underline;
}
.form-btn {
  min-width: 169px;
  min-height: 56px;
  padding: 16px 32px;
  border-radius: 4px;
  background-color: var(--IRIS, #4d5ae5);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
  margin: 0 auto;
}
.form-btn:hover,
.form-btn:focus {
  background-color: #404bbf;
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: #fff;
  padding: 72px 16px 40px;
  transform: translateX(-100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu.is-open {
  transform: translateX(0);
}
.menu-button {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  /* background-color: #E7E9FC; */
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: 1px solid #e7e9fc;
}
.menu-button:active {
  background-color: #404bbf;
}
.menu-button:active .menu-button-icon {
  fill: #ffffff;
}
.menu-button-icon {
  fill: #2e2f42;
}
.menu-nav {
  margin-bottom: 168px;
}
.menu-nav-item:not(:last-child) {
  margin-bottom: 40px;
}

.menu-nav-link {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.menu-nav-link.active {
  color: #404bbf;
}
.menu-address {
  margin-bottom: 48px;
}

.menu-address-list:not(:last-child) {
  margin-bottom: 24px;
}
.menu-address-link {
  color: #434455;

  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.menu-address-link.active {
  color: #404bbf;
}
.menu-socials {
  display: flex;
  gap: 40px;
}
.menu-socials-item {
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-socials-item:active {
  background-color: #404bbf;
}
.menu-socials-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  fill: #f4f4fd;
}
.menu-socials-icon {
}

.menu-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
}
@media only screen and (min-width: 768px) {
  .menu-btn {
    display: none;
  }
}

.hide {
  display: none;
}
